.app {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.app::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
    pointer-events: none;
}

.preload {
    position: fixed;
    top: -100000;
    left: -100000;
}
